<% require 'rubygems' %>
<% require 'nokogiri' %>
<%
   meta title: @blog.title,
        description: Nokogiri::HTML(@blog.content).text.truncate(150, separator: ' '),
        keywords: %{#{@blog.tag_list}},
        rel: {
                author: @blog.user.website,
                publisher: root_url
        },
        og: {
                title: "#{@blog.title} | Bloggy - Medium Clone",
                image: @blog.image_url,
                site_name: "Bloggy",
                url: blog_url(@blog),
                description: Nokogiri::HTML(@blog.content).text.truncate(150, separator: ' '),
                type: "article",
                locale: "en_US"
        },
        fb: {
                app_id: "429015597309000"
        },
        twitter: {
                card: "summary",
                title: "#{@blog.title} | Bloggy - Medium Clone",
                site: @blog.user.twitter,
                image: @blog.image_url,
                description: Nokogiri::HTML(@blog.content).text.truncate(150, separator: ' ')
        }
%>
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_sharing_toolbox center"></div>

        <h1 class="center"><%= @blog.title %></h1>

        <!-- Vote add/remove -->
        <% if user_signed_in? && @blog.voted(current_user) %>
            <div class="center">
              <% if @blog.user == current_user %>
                  <h4><i class="fa fa-heart" style="color: #FF0000;"></i> <%= @blog.votes.count %></h4>
              <% else %>
                  <%= link_to blog_vote_path(@blog,@blog.votes.where(user_id: current_user.id).first.id), method: :delete do %>
                      <h4><i class="fa fa-heart" style="color: #FF0000;"></i> <%= @blog.votes.count %></h4>
                  <% end %>
              <% end %>
            </div>
        <% else %>
            <div class="center">
              <% if @blog.user == current_user %>
                  <h4><i class="fa fa-heart-o" style="color: #FF0000"></i> <%= @blog.votes.count %></h4>
              <% else %>
                  <%= link_to blog_votes_path(@blog), method: :post do %>
                      <h4><i class="fa fa-heart-o" style="color: #FF0000"></i> <%= @blog.votes.count %></h4>
                  <% end %>
              <% end %>
            </div>
        <% end %>

        <div class="center">
        <small class="center">Created by <em><%= @blog.user.name %></em>, <%= time_ago_in_words(@blog.created_at) %> ago</small>
        </div>

        <!-- If user is signed in and author of the blog -->
        <% if user_signed_in? && @blog.user == current_user %>
        <div class="center">
          <%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_blog_path(@blog), class: "btn blue" %>
          <%= link_to '<i class="material-icons">delete</i>'.html_safe, @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn red" %>
        </div>
        <% end %>

        <hr/>
        <p><%= raw @blog.content %></p>
        <hr/>

        <!-- Blog Tags -->
        <% @blog.tags.each do |tag| %>
            <div class="chip">
              <%= link_to tag.name, tags_path(tag.name) %>
            </div>
        <% end %>

      </div>
      <div class="card-panel">
        <h3 class="center">Discussions</h3>

        <!-- Disqus Comments -->
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */
             var disqus_config = function () {
             this.page.url = "<%= blog_url(@blog) %>";  // Replace PAGE_URL with your page's canonical URL variable
             this.page.identifier = "bloggy_<%= @blog.id %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
             };
            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//bloggy-codelit.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


      </div>
    </div>
  </div>
</div>