<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="card-panel">
        <h2 class="center">
          Edit User
        </h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <!-- Get user name -->
            <div class="input-field">
              <%= f.label :name %>
              <%= f.text_field :name, autofocus: true %>
            </div>

            <!-- Get user email -->
            <div class="input-field">
              <%= f.label :email %>
              <%= f.email_field :email %>
            </div>

            <!-- Get user password -->
            <div class="input-field">
              <%= f.label :password, "New Password" %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <!-- Get user password confirmation -->
            <div class="input-field">
              <%= f.label :password_confirmation, "Confirm New Password" %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <!-- get User Image -->
            <div class="input-field">
                <div class="col-sm-10">
                  <%= f.file_field :avatar, id: "imgInp", style: "display: none;" %>
                  <img id="blah" src="<%= current_user.avatar.url(:medium) %>" alt="<%= current_user.name %>" style="height:100px;width:100px;"/>
                </div>
            </div>

            <!-- blog website for meta -->
            <div class="input-field">
              <%= f.label :website, "Optional Website url" %>
              <%= f.text_field :website %>
            </div>

            <!-- blog twitter for meta -->
            <div class="input-field">
              <%= f.label :twitter, "Optional Twitter Handle like @codelitweb " %>
              <%= f.text_field :twitter %>
            </div>

            <!-- Submit form -->
            <div class="input-field center">
              <%= f.submit "Update", class: "btn" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
    $('#blah').on('click', function () {
        $('#imgInp').trigger('click');
    });
</script>
