<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="card-panel">
        <h2 class="center">
          Sign Up
        </h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <!-- Get user name -->
            <div class="input-field">
              <%= f.label :name %>
              <%= f.text_field :name, autofocus: true %>
            </div>

            <!-- Get user email -->
            <div class="input-field">
              <%= f.label :email %>
              <%= f.email_field :email %>
            </div>

            <!-- Get user password -->
            <div class="input-field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <!-- Get user password confirmation -->
            <div class="input-field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <!-- Submit form -->
            <div class="input-field center">
              <%= f.submit "Sign Up", class: "btn" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>