<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m1">
      <div class="card-panel">
        <h2 class="center">Forgot Your Password?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

            <%= f.hidden_field :reset_password_token %>

            <!-- Get user new password -->
            <div class="input-field">
              <%= f.label :password, "New Password" %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
            </div>

            <!-- Get user new password -->
            <div class="input-field">
              <%= f.label :password_confirmation, "Confirm New Password" %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <!-- Submit form -->
            <div class="input-field center">
              <%= f.submit "Change my password", class: "btn" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

