<li class="<%= "active" if controller_name == "blogs" %>"><%= link_to "Blogs", root_path %></li>
<% unless user_signed_in? %>
    <li class="<%= "active" if current_page?(new_user_session_path) %>"><%= link_to "Log In", new_user_session_path %></li>
    <li class="<%= "active" if current_page?(new_user_registration_path) %>"><%= link_to "Sign Up", new_user_registration_path %></li>
<% end %>

<!-- Dropdown Structure -->
<% if user_signed_in? %>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="<%= user_path(current_user) %>">Profile</a></li>
  <li><a href="<%= edit_user_registration_path %>">Edit Profile</a></li>
  <li class="divider"></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
</ul>
<!-- Dropdown Structure -->
<ul id="dropdown2" class="dropdown-content">
  <li><a href="<%= user_path(current_user) %>">Profile</a></li>
  <li><a href="<%= edit_user_registration_path %>">Edit Profile</a></li>
  <li class="divider"></li>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
</ul>
<% end %>